---
- hosts: all
  sudo: yes
  gather_facts: no
  vars:
    - app_name: APPNAME
    - deploy_user: deploy
    - deploy_password: DEPLOY_PASSWORD
    - ruby_version: 2.2.3
    - rbenv_root: /home/deploy/.rbenv
  roles:
    - base
    - mysql
    - nginx
    - node
    - rbenv

